@using Application.Commands_Queries.Users.Commands
@model UserResponseCommand

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<span>@Model.Id</span>
<br />
<span>@Model.IsSuccess</span>